.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  width: 700px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button, span {
  margin: 5px;
}

h1 {
  color: #333333;
  margin-top: 20px;
}

h2 {
  color: #666666;
  margin-bottom: 10px;
}

h5 {
  color: #999999;
  margin: 10px;
}
